/* Media Query Section */

@media screen and (max-width: 850px) {
  .main-ctn {
    display: flex;
    flex-direction: column;
  }
  .h1-ctn {
    padding: 15px;
    padding-bottom: 0px;
  }

  .images-ctn {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }
}
.box {
  z-index: 0;
  position: static;
  margin: 10px;
}

.story-ctn h3 {
  text-align: center;
}

.storyText-ctn {
  display: flex;
  flex-direction: column;
}
.storyText-ctn img {
  width: 70%;
}
