body{
    background-color: black;
    color: white
  }
  .one{
  display: flex;
  height: 500px;
  justify-content: space-between;
  margin:50px 0
  }
 
  .text{
    width: 85%;
    align-self: center;
  }
  .text h1{
    text-align: center;
    font-family: "Rubik Maps", system-ui;
    font-weight: 400;
  }
  .text p{
    text-align: center;
    width: 400px;
    margin:  auto;
   
  }
  .images{
    width: 50%;
    position: relative;
    z-index: 1;
  }
  .box{
    width: 200px;
    height: 200px;
    margin: 0 10px;

  }
  .img-one{
    position: absolute;
    left: 0;
    top: 0;
    margin : 10px 30px;
   
  }
  .img-one img,.img-two img, .img-three img{
   background-size: cover;
   width: 100%;
   height: 100%;
  }
  .img-two{
    position: absolute;
    top: 25%;
    left: 40%;
  }
  .img-three{
    position: absolute;
    top: 55%;
    left: 0;
  } 
  p{
    
        font-family: "Lily Script One", system-ui;
        font-weight: 400;
        font-style: normal;
  
  }
  